*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;

}
body{
    background-color:#f1faee ;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    width: 100%;
}

.container{
    background-color: #FAC070;
    height: 350px;
    margin:auto;
    border-radius: 20px;
    padding: 20px;
    width: 95%;
    max-width: 400px;
    overflow-y:auto;
}

label{
    font-size: 24px;
    display: block;
    font-weight: bold;
}
.checkBox{
    accent-color: #282B28;
    margin: 2px 0px;
}
.inputEl{
    border-radius: 10px;
    padding: 10px 25px;
    margin:10px auto;
    border: 2px solid #B7F397;
    box-shadow: 0px 0px 5px #B7F397;
    transition: all 0.6s ease;
}
.inputEl:hover{
    box-shadow: 3px 3px 3px darkgreen;
}
.inputEl::placeholder{
    font-weight: bold;
}
.flexBtn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}
.addBtn{
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #B7F397;
    background-color: #B7F397;
    border: 1px solid black;
    font-weight: bold;
    margin: 0;
}
.addBtn:active{
    background-color: #e63946;
    color: beige;
    box-shadow: 0px 0px 5px #e63946;
}

.delBtn{
    background-color: #121;
    color: beige;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 0;
}
.delBtn:active{
    background-color: gainsboro;
    color: #121e43;
}

.del-btn{
    background-color: #e63946;
    color: #f1faee;
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    margin: 0;
}
.del-btn:hover,
.del-btn:active{
    background-color: #d72e3c;
    box-shadow: 2px 2px 2px #121;
}
.ulTask{
    list-style-type: none;
    padding-left: 0px;
}
.liUl, .ulTask, .list{
    padding-left: 0px;
    margin-top: 20px;
    text-align: left;
}
.list{
    padding-left: 0px;
    display: block;
    font-size: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}


.footBottom{
    background-color: #121;
    color: #f1faee;
    padding:1px 0;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
.designer{
    text-transform: uppercase;
    color: #f1faee;
    text-decoration: none;
    cursor: pointer;
}
.designer:active{
    color: #B7F397;
    text-decoration: overline;
}






