html, body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    height: 100%;

}
body{
    background-color:#f1faee ;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 302px;
}
.container{
    min-height: 350px;
    margin:20px auto;
    border: 3px dotted black;
    border-radius: 20px;
    padding: 20px;
}

h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
label{
    font-size: 24px;
    display: block;
    margin-right: 225px;
}
input{
    accent-color: #003049;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 8px 20px;
    border: 2px solid #B7F397;
    box-shadow: 0px 0px 5px #B7F397;
    transition: all 0.6s ease;
}
input:hover{
    box-shadow: 3px 3px 3px darkgreen;
}
input::placeholder{
    font-weight: bold;
}
.addBtn{
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #B7F397;
    background-color: #B7F397;
    border: 1px solid black;
    font-weight: bold;
    transition: all 0.5s;
    margin: 0;
}
.addBtn:hover{
    background-color: #e63946;
    color: beige;
    text-shadow: 0px 0px 1px beige;
}
.addBtn:active{
    background-color: #B7F397;
    color: black;
    border: 2px solid #B7F397;
    box-shadow: 0px 0px 5px #B7F397;
}

.delBtn{
    background-color: #121;
    color: beige;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.5s;
    margin: 0;
}
.delBtn:hover{
    background-color: gainsboro;
    color: black;
}
.delBtn:active{
    background-color: #121;
    color: beige;
}

.del-btn{
    background-color: #e63946;
    color: #f1faee;
    border-radius: 10px;
    padding: 4px;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
}
.del-btn:hover,
.del-btn:active{
    background-color: #d72e3c;
    box-shadow: 2px 2px 2px #121;
}
.ulTask{
    list-style-type: none;
}
.liUl, .ulTask, .list{
    margin-top: 20px;
    text-align: left;
    padding: 0px 8px;
}
.list{
    font-size: 20px;
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 100%;
}



.footBottom{
    background-color: #121;
    color: #f1faee;
    padding:1px;
}
.designer{
    text-transform: uppercase;
    color: #f1faee;
    text-decoration: none;
    cursor: pointer;
}
.designer:hover,
.designer:active{
    transition: 1s;
    color: #B7F397;
    text-decoration: overline;
}






